@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$mdc-typography-font-family: 'Open Sans', sans-serif;
$mdc-theme-primary: #6A1B9A;
$mdc-theme-text-primary-on-primary: #fff;
// $mdc-theme-text-primary-on-light: #fff;

@import "~sanitize.css/sanitize.css";
@import "material-components-web/material-components-web";

:root{
  --mdc-theme-primary: #6A1B9A;
  --mdc-theme-text-primary-on-primary: #fff;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  position: relative;
  color: #303133;
  line-height: 1.5;

  * {
    box-sizing: border-box;
  }
}

main {
  position: relative;
  padding-top: 63px;
}

.centered-grid {
  @include mdc-layout-grid(tablet, 6px, 902px);
}

.mdc-typography--title.page-title {
  border-bottom: 1px solid #dcdedd;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: initial;
}

.mdc-typography--body1 {
  letter-spacing: initial;
  line-height: 1.5;
}

.mdc-toolbar {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);

  &__title {
    color: #6A1B9A;
  }
}

a {
  color: #6A1B9A;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mdc-toolbar {
  z-index: 402; // inner dropdowns must be over the map, which has 400
  height: 63px;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &__row {
    height: initial;
    padding: 11px 20px;
    flex-wrap: wrap;
  }

  &__section {
    overflow: initial;
    position: relative;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }
  }

  & .logo {
    width: 170px;
  }
}

.mdc-toolbar__section--align-start {
  flex-grow: 4;
}

.mdc-toolbar__section--align-start a:first-child {
  margin-top: 1px;
  margin-right: 30px;
}

.mdc-toolbar__section--align-end {
  align-items: center;
  flex-grow: 3;
}

.mdc-toolbar__section--align-end a:not(.mdc-button) {
  color: #969799;
  font-size: 14px;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    color: #6A1B9A;
  }

  &.active {
    color: #303133;
  }
}

.pagination {
  text-align: right;
  list-style-type: none;

  & li {
    display: inline-block;
    margin: 0 10px 0 10px;

    &.active a {
      border-color: #6A1B9A;
    }

    a {
      border: 1px solid #969799;
      line-height: 1.5;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}